#shoe-wewbsite{
    background-color: lightcoral;
    

}
.headings{
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     
}
.button{
    color: aliceblue;
    background-color: black;
    width: 100px;
    border-radius: 20px;
    height: 40px;
    align-items: center;
    
}
.image1{
    background-image:url(pics/surplusbrown.webp);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 40px;
    border: solid 10px;border-color: black;
    border-radius: 30px;
    padding-bottom: 40%;
    padding-left: 50%;
    background-size: cover;
    max-height: 0%;
    padding-top: 0%;
    

    

}
.image.text1{
    text-align: left;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    margin-bottom: 10%;
    

}
.nav-bar{
    display: flex;
    background-color:black;
    gap: 25%;
    padding: 15px;
    color: antiquewhite;
    border: solid 2px;
    text-align: center;

}

.paragraph2{
    display: flex;
    gap: 10%;
}
.shoe.box2{
    display: flex;
    border: solid 10px;
    border-color: black;
    border-radius: 30px;
     margin: 40px;
     gap: 40px;

}
#footer{
    background-color: black;
    display: flex;
    gap: 80px;
    height: 300px;
    border: 2px;
    border-color: black;
}
.textF{
    color: antiquewhite;
}
.textf{
    color: darkslategrey;
}
.lastpic{
    background-image:url(pics/nike-air-max-day.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;position: relative;
    margin: 40px;
    border: solid 10px;border-color: black;
    border-radius: 30px;
    padding-bottom: 15%;
    padding-left: 50%;
    background-size: cover;
    max-height: 0%;
    background-color: aliceblue;

    
}
.shoe.box1{
    border: solid;
    border-color: black;
    border-radius: 30px;
     margin: 40px;
    
}
.box1{
    display: flex;
}
.box2{
    display: flex;
}
.shoebox3{
    border: solid 5px;
    border-color: black;
}